* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 380px;
  width: 380px;
  background: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  border: 1px solid darkorchid;
  border-radius: 10px;
}

.title {
  text-align: center;
  color: darkorchid;
  margin-bottom: 1rem;
}

.input-box {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input-box input {
  padding: 8px 10px;
  border: 1px solid darkorchid;
  border-radius: 4px;
  flex: 1;
}

.input-box button {
  padding: 8px 15px;
  background: darkorchid;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  transition: 0.4s;
}

.input-box button:hover {
  filter: brightness(0.91);
}

.count-box {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  color: darkorchid;
  font-weight: 500;
}

#text-io {
  width: 100%;
  position: relative;
}

#message-box {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  border: 1px solid darkorchid;
  border-radius: 4px;
  padding: 5px 10px;
  line-height: 1.5;
  font-size: 1rem;
  overflow-y: auto;
  margin-bottom: 0.5rem;
}

#message-box:focus {
  outline: none;
}

#message-box::-webkit-scrollbar {
  width: 10px;
}

#message-box::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

#message-box::-webkit-scrollbar-thumb {
  background-color: darkorchid;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

#message-box::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

#error-mssg {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 64%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkorchid;
  color: darkorchid;
  font-weight: 600;
  user-select: none;
  display: none;
}

.utility-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.utility-box label {
  display: flex;
  align-items: center;
  gap: 0.2em;
  color: darkorchid;
  cursor: pointer;
  user-select: none;
  font-weight: 450;
}

#highlithColorBtn {
  width: 40px;
  height: 30px;
  border: 1px solid rgb(154, 53, 204);
  border-radius: 4px;
  cursor: pointer;
}

.btn-box {
  
  display: flex;
  gap: 10px;
}

.btn-box button {
  width: 100%;
  display: block;
  margin-top: 0.5rem;
  padding: 8px;
  font-size: 0.9rem;
  background: darkorchid;
  color: white;
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}

.btn-box button:hover {
  filter: brightness(0.9);
}

.hightlightedText {
  background-color: darkorchid;
  color: #fff;
  font-weight: 600;
}
.error { border: 1px solid red !important; }
#copuRight { text-align: center; margin: 15px 0 0 0; font-size: 14px; color: #cacaca8e; user-select: none; }